
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body {
    background-color: #131316;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 97vh;
}


.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}


@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}


.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


.logos {
    display: flex;
}

.logo {
    width: 7em;
    height: 4em;
    background-color: #fd8080;
    border-radius: 1em;
    margin: 0.5em;
}


.logo:nth-child(2) {
    transition-delay: 200ms;
}
.logo:nth-child(3) {
    transition-delay: 400ms;
}
.logo:nth-child(4) {
    transition-delay: 600ms;
}


.bullet:nth-child(2) {
    transition-delay: 200ms;
}
.bullet:nth-child(3) {
    transition-delay: 400ms;
}


a {
    color: #bfbbbb;
}
